__pycache__/
*.pyc
debug_parse.py
table_screenshots/
table_screenshots_clean/
table_screenshots_no_favorites/
table_screenshots_zamki/
table_screenshots_fiksatory/
table_screenshots_zashchelki/
table_screenshots_smazka/
table_screenshots_makhoviki/
table_screenshots_opory/
table_screenshots_petli/
table_screenshots_rukoyatki2/
table_screenshots_ruchki_p/
table_screenshots_ruchki_z/
table_screenshots_zazhimy/
table_screenshots_teleskop/
table_screenshots_fiksatory2/
table_screenshots_schetchiki/
table_screenshots_sharnirnye/
table_screenshots_magnity/
table_screenshots_krepezh/
table_screenshots_truby/
table_screenshots_profili/
